body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #4B4B4B;
}

a {
  color: #00B7FF;
}

.hider {
  display: none;
}

.input-error {
  color: #F00;
}
